@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --font-space-grotesk: var(--font-space-grotesk);
  --color-main: hsl(273, 100%, 50%);
  --color-main-light: hsl(273, 100%, 70%);
  --breakpoint-xs: 480px;
  --animate-gradient: gradient 5s ease infinite;
}

.dots-before {
  @apply before:content-[""] before:size-1 before:rounded-[50%] before:bg-main before:absolute before:top-1/2 before:-translate-x-1/2;
}

.dots-after {
  @apply after:content-[""] after:size-1 after:rounded-[50%] after:bg-main after:absolute after:top-1/2 after:right-0 after:translate-x-1/2;
}

.web-shots {
  @apply w-56 h-80 flex items-center justify-center bg-base-200 border-8 border-red-500 rounded-lg;
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.btn-nexoro {
  @apply border-2 btn-primary rounded-full p-0 pl-3 sm:pl-5 h-auto bg-main border-main shadow-none;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.cardAnimation {
  @apply relative before:content-[""] before:absolute before:-inset-px before:rounded-[inherit] after:rounded-[inherit] after:content-[""] after:absolute after:-inset-px  after:blur-lg;
}

.cardAnimation::after,
.cardAnimation::before {
  background: conic-gradient(
    from var(--gradient-angle),
    hsl(273, 100%, 50%),
    hsl(273, 100%, 70%)
  );
  z-index: -1;
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
